@import '../../../styles/settings.scss';

.component {
  padding: $base-size;

  .loginWrapper {
    padding: 40px;

    .input {
      width: 300px;
    }

    .buttonSave {
      margin-top: 30px;
    }

    .loginIcon {
      font-size: 35px;
    }
  }
}
